<section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <form class="md-float-material form-material" method="post" action="/signup">
                        <div class="text-center">
                            <img src="assets/images/auth/logo1.png" class="img-100" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Inscription</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="pseudo" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Pseudo</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="nom" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Noms</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="email" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Email</label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input type="password" name="mdp" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Mot de passe</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input type="password" name="cMdp" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Confirmer Mot de passe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-md-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" name="terme">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">J'ai lu et  accepté <a href="#">les Termes &amp; Conditions.</a></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">S'sincrire</button>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">J-Learning.</p>
                                        <p class="text-inverse text-left"><a href="/"><b>From Zero to hero</b></a></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="assets/images/auth/logo1.png" class="img-60" alt="small-logo.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>